.header {
  grid-column: 2 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem 1rem 0;

  // 1600px
  @media only screen and (max-width: $bp-huge) {
    padding: 1rem 2rem 1rem 0;
  }

  // 1000px
  @media only screen and (max-width: $bp-medium) {
    padding: 1rem 1rem 1rem 0;
  }

  // 800px
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    gap: 2rem;
  }

  // 600px
  @media only screen and (max-width: $bp-smallest) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  &__text-box {
    display: flex;
    align-items: center;
    gap: 1rem;

    // 800px
    @media only screen and (max-width: $bp-small) {
      align-self: start;
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: var(--color-primary-light);
    }
  }

  &__icon {
    height: 2.6rem;
    width: 2.6rem;
  }

  &__button-box {
    display: flex;
    align-items: center;

    // 800px
    @media only screen and (max-width: $bp-small) {
      align-self: end;
    }
  }
}
