.nav {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding-bottom: 4rem;
  overflow: auto;

  // 600px
  @media only screen and (max-width: $bp-smallest) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    padding-bottom: 2rem;
  }

  &::after {
    content: "";
    width: 100%;
    height: 3rem;
    background-color: rgba(18, 22, 22, 0.75);
    width: 34rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    // 1600px
    @media only screen and (max-width: $bp-huge) {
      width: 32rem;
    }

    // 1400px
    @media only screen and (max-width: $bp-largest) {
      width: 27rem;
    }

    // 1200px
    @media only screen and (max-width: $bp-large) {
      width: 32rem;
    }

    // 1000px
    @media only screen and (max-width: $bp-medium) {
      width: 27rem;
    }

    // 600px
    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }
  }

  &__logo-box {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__logo {
    width: 7.5rem;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // overflow: auto;

    // 600px
    @media only screen and (max-width: $bp-smallest) {
      overflow: auto;
    }
  }

  &__button {
    cursor: pointer;
    background-color: transparent;
    color: var(--color-text);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    left: 29rem;
    z-index: 20;

    &:hover {
      color: var(--color-primary-light);
    }

    // 1600px
    @media only screen and (max-width: $bp-huge) {
      left: 27rem;
    }

    // 1400px
    @media only screen and (max-width: $bp-largest) {
      left: 22rem;
    }

    // 1200px
    @media only screen and (max-width: $bp-large) {
      left: 27rem;
    }

    // 1000px
    @media only screen and (max-width: $bp-medium) {
      left: 22rem;
    }

    // 600px
    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }
  }

  &__icon {
    height: 2.6rem;
    width: 2.6rem;
  }

  &__icon--margin-right {
    margin-right: -1.5rem;
  }
}

// Hiding nav__menu

.nav .nav__menu {
  // 600px
  @media only screen and (max-width: $bp-smallest) {
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: block;
    padding-top: 8rem;
    padding-bottom: 2rem;
    transition: all 0.5s ease-in-out;
  }
}

.nav .nav__button {
  // 600px
  @media only screen and (max-width: $bp-smallest) {
    display: none;
  }
}

// Mobile - Open nav__menu
.nav.open .nav__menu {
  transform: translateX(0);
  z-index: 10;
}

.nav.open::after {
  display: none;
}
