.container {
  display: grid;
  grid-template-columns: 30rem 42rem 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 4rem;
  margin: 4rem 0 0 4rem;
  overflow-x: hidden;

  // 1600px
  @media only screen and (max-width: $bp-huge) {
    margin: 2rem 0 0 2rem;
  }

  // 1400px
  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: 25rem 42rem 1fr;
  }

  // 1200px
  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 30rem 1fr;
  }

  // 1000px
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 25rem 1fr;
    gap: 2rem;
  }

  // 600px
  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 1rem;
  }
}
