.nav-list {
  list-style: none;

  &__item {
    border-radius: 8px;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__link:link,
  &__link:visited {
    font-size: 1.8rem;
    color: var(--color-grey);
    text-decoration: none;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__link:hover,
  &__link:active,
  &__link--active:link,
  &__link--active:visited {
    color: var(--color-text);
    background-color: var(--color-primary-dark);
  }

  &__icon {
    --ionicon-stroke-width: 40px;
    height: 3.6rem;
    width: 3.6rem;
  }
}
