:root {
  --color-background: #121616;
  --color-background-light: #293132;
  --color-background-progress: #404d4f;
  --color-text: #eceded;
  --color-primary-dark: #0a515c;
  --color-primary: #13b191;
  --color-primary-light: #47ebca;
  --color-secondary: #ed685e;
  --color-grey-dark: #363f41;
  --color-grey: #a5b3b6;
}

$bp-huge: 100em; // 1600px
$bp-largest: 87.5em; // 1400px
$bp-large: 75em; // 1200px
$bp-medium: 62.5em; // 1000px
$bp-small: 50em; // 800px
$bp-smallest: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem=10px

  // 1400px
  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%; // 1rem=9px
  }

  // 1000px
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%; // 1rem=8px
  }
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: var(--color-background);
  color: var(--color-text);

  &.overflow-hidden {
    overflow: hidden;
  }
}

*:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px var(--color-primary-light);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-background-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-background-progress);
  border-radius: 20px;
}
