.notification {
  position: relative;

  &__button {
    border: none;
    cursor: pointer;
    padding: 1rem 2rem 1rem 2.4rem;
    background-color: transparent;
    color: var(--color-text);
    border-radius: 8px;

    &:hover {
      background-color: var(--color-background-light);
    }
  }

  &__icon {
    height: 2.6rem;
    width: 2.6rem;
  }

  &__number {
    font-size: 1.2rem;
    padding: 0.2rem 0.6rem;
    border-radius: 100px;
    background-color: var(--color-secondary);
    position: absolute;
    top: 0.3rem;
    left: 0.8rem;
    z-index: 1;
  }
}
